body {
    background-image: ;
    background-repeat: no repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    align-items: center;
}

.header{
    width: 50%;
    background-color: white;
    
}